<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">{{ .Site.Title }}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/page/books">books</a>
        </li>
        <li>
          <a href="https://twitter.com/AndrewVos">twitter</a>
        </li>
        <li>
          <a href="https://pdfcv.herokuapp.com/?markdown_url=https://raw.githubusercontent.com/AndrewVos/cv/master/AndrewVos.md&amp;css_url=https://raw.githubusercontent.com/AndrewVos/cv/master/style.css">cv</a>
        </li>
      </ul>
    </div>
  </div>
</div>
