<style>
.progress .progress-bar {
  border-radius: 3px;
  padding: 5px;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(function(){
  Array.max = function(array){
    return Math.max.apply(Math, array);
  };

  var labels = ['C#', 'C++', 'C', 'Java', 'JavaScript', 'Perl', 'PHP', 'Python', 'Ruby'];
  var data = [20, 56, 28, 20, 46, 30, 4, 10, 53];
  drawChart(".chart1", labels, data);

  var labels = ["shit", "fuck", "piss", "motherfucker"];
  var data = [175, 86, 5, 1];
  drawChart(".chart2", labels, data);

  var labels = ["omg", "zomg", "wtf", "lol", "rofl"];
  var data = [30, 16, 76, 65, 2];
  drawChart(".chart3", labels, data);
});

function drawChart(selector, labels, data) {
  var colours = ["#ED1C24", "#EF465B", "#E55A6B", "#E28159", "#F99C1C", "#F4D41E", "#97B546", "#36B669", "#42BDA5", "#00AEEF"];
  var max = Array.max(data);
  var template = '' +
  '<div class="progress">' +
  '  <div class="progress-bar" role="progressbar" style="width: 60%;">' +
  '  </div>' +
  '</div>';

  var chart = $(selector);
  for (i = 0; i < labels.length; i++) {
    var line = $(template);
    var width = (data[i] / max) * 100;
    var progressBar = line.find(".progress-bar");
    progressBar.attr("style", "width: " + String(width) + "%;");
    progressBar.css("background-color", colours[i]);
    progressBar.text(labels[i]);
    chart.append(line);
  }
}
</script>
Here's that data in pretty format:

<h3>Profanity by Programming Language</h3>

<div class="chart1"></div>

<h3>Total Swear Words</h3>

<div class="chart2"></div>

<h3>Total Other Words</h3>

<div class="chart3"></div>

