{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
  <div class="row">
    <div class="col">
      <h2>{{ .Title }}</h2>
      <ul>
        {{ range $.Site.Data.books }}
        <li>
          <a href="#{{ .year }}">
            {{ .year }} ({{ .books | len }})
          </a>
        </li>
        {{ end }}
      </ul>
      <div class="books">
        {{ range $.Site.Data.books }}
        <h3 id="{{ .year }}">
          Books I read in {{ .year }} ({{ .books | len }})
        </h3>
        {{ range .books }}
        <div class="row book mb-3 pt-2 pb-2">
          <div class="col-auto pl-2">
            <a href="{{ .url }}">
              <img class="media-object book-cover" src="{{ .small_image_url }}" alt="{{ .title }}">
            </a>
          </div>
          <div class="col">
            <div class="book-title">
              <a href="{{ .url }}">{{ .title }}</a> by
              <a href="{{ .author_url }}">{{ .author }}</a>
            </div>
            <div class="book-author">
            </div>
            <div class="book-rating">
              {{ .rating }} / 5 stars
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
</div>

{{ partial "footer.html" . }}
