{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<style>
.book-cover {
  min-width: 48px;
}
</style>
<div class="container body">
  <h2>{{ .Title }}</h2>
  <ul>
    {{ range $.Site.Data.books }}
    <li>
      <a href="#{{ .year }}">
        {{ .year }} ({{ .books | len }})
      </a>
    </li>
    {{ end }}
  </ul>
  <div class="books">
    {{ range $.Site.Data.books }}
    <h3 id="{{ .year }}">
      Books I read in {{ .year }} ({{ .books | len }})
    </h3>
    {{ range .books }}
    <div class="book">
      <div class="book-cover">
        <a href="{{ .url }}">
          <img class="media-object book-cover" src="{{ .small_image_url }}" alt="{{ .title }}">
        </a>
      </div>
      <div class="book-title">
        <a href="{{ .url }}">{{ .title }}</a>
      </div>
      <div class="book-author">
        <a href="{{ .author_url }}">{{ .author }}</a>
      </div>
      <div class="date">
        Read: {{ .read_at | dateFormat "02 January 2006" }}
      </div>
      <div class="book-rating">
        {{ .rating }} / 5 stars
      </div>
    </div>
      <div>
        {{ end }}
        {{ end }}
      </div>
    </div>
    {{ partial "footer.html" . }}
